/* Overall */

html, body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5;
  color: #111;
  padding: 10px 0 10px 0;
}

/* Differences per media size */

/* For little screens */
@media screen and (max-width: 500px){
  #content {
    width: 90%;
    height: 100%;
    margin: auto;
  }
  html, body{
    font-size: 0.95em;
  }
}

/* Everything else */
@media screen and (min-width: 501px){
  #content {
    width: 600px;
    margin: auto;
  }
  #portrait {
    /* eventually */
  }
}

/* General typographic elements */

#brand {
  font-weight: 400;
  text-align: center;
  margin: 0;
}
#subtitle {
  color: #444;
  text-align: center;
}

.links {
  padding: 0;
  clear: both;
  text-align: center;
}
.links li {
  display: inline;
}
.links li > a {
  text-decoration: underline;
}
.links li + li::before {
  content: "\b7\2002";
}

a {
  color: #0074d9;
}

/* Project-specific */

.project {
  background-color: #333;
  color: #eee;
  margin: 30px 0;
  padding: 10px 30px;
}
.project > h2 {
  padding: 0;
  margin: 0;
  font-weight: 300;
}
.project a {
  color: #5993de;
}
.project-title a {
  color: #fff;
}
.tagline {
  color: #444;
}
