{% for project in site.data.projects reversed %}
  <div class="project">
    <h2 class="project-title"><a href="{{ project.uri }}">{{ project.name }}</a></h2>
    <i>{{ project.type }}, {{ project.year }}</i>
    {{ project.description | markdownify }}
  </div>
{% endfor %}
