<h1 id="brand">lochland.gitlab.io</i></h1>
  <div id="subtitle">
    Coding projects by Lochlan Morrissey.
  </div>
  <ul class="links">
    {% for link in site.data.nav %}
      <li><a href="{{link.uri}}">{{link.title}}</a></li>
    {% endfor %}
  </ul>
